body {
  margin: 0;
  font-family: "Lato", 'Segoe UI', sans-serif;
}

h2 {
  text-align: center;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-block-start: 32px;
  margin-inline-start: 25px;
  margin-inline-end: 24px;
  text-align: center;
}
