/* Media query for the page to work nicely in a desktop*/

@media (min-width: 1025px) {
  .masthead__images {
    display: block;
  }

  .masthead {
    background-image: url("../img/iphones-icon.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: contain;
  }

  .masthead__container {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  .masthead__header--container {
    max-width: 546px;
  }

  .masthead__heading--container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .masthead__heading {
    text-align: start;
  }

  .masthead__description {
    text-align: start;
  }

  .masthead__icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-block-end: 164px;
  }

  .masthead__googleplay {
    margin-inline-start: 36px;
  }
}
