.features {
  background-color: #FAFAFA;
}

.features__heading {
  padding-block-start: 42px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
}

.features__list_item {
  padding-block-start: 48px;
  margin-inline-start: 25px;
  margin-inline-end: 24px;
  text-align: center;
}

.features__list_item > svg {
  fill: #00ADEE;
}



.features__list_item--graph {
  padding-block-end: 50px;
}



