@media (min-width: 1025px) {
  .section_user_friendly {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    background-image: url("../img/bg_friendly_user_interface.png");
    background-position: calc(50% + 255px);
    padding: 0;
    padding-block-start: 171px;
    padding-block-end: 171px;
  }

  .section_user_friendly > * {
    max-width: 546px;
    text-align: start;
  }

  .section_user_friendly__heading {
    text-align: start;
  }

  .section_user_friendly__category {
    margin: 0;
    margin-inline-start: 20px;
  }

  .section_user_friendly__link {
    margin-inline-start: 20px;
    margin-block-start: 48px;
    padding: 0;
  }
}
